<div class="col-lg-5">
    <h1 class="h1-strong">{{title}}</h1>
    <div class="alert alert-success" *ngIf="status == 'success'">
        Successful login, welcome!
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        Login failed: username or password invalid.
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
        <p>
            <label>Username</label>
            <input type="text" pattern="[*]+$" name="username" #username="ngModel" [(ngModel)]="loginUser.username" class="form-control" required />
            <span *ngIf="!loginUser.username.valid && loginUser.username.touched" >Invalid username.</span>
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="loginUser.password" class="form-control" required />
            <span *ngIf="!loginUser.password.valid && loginUser.password.touched" >Password is required.</span>
        </p>
        <input type="submit" value="Login" class="btn btn-success">
    </form>
</div>